<suite thread-count="2" name="souceLabtestSuite">
    <test name="Win10-ff-test">
        <parameter name="browser" value="Chrome" />
        <parameter name="version" value="73.0" />
        <parameter name="platform" value="Windows 10" />
        <parameter name="name" value="Test1" />
        <classes>
            <class name="Reg.change_of_Password" />
        </classes>
    </test>

    <test name="Win10-ss-test">
        <parameter name="browser" value="Chrome" />
        <parameter name="version" value="73.0" />
        <parameter name="platform" value="Windows 10" />
        <parameter name="name" value="Test2" />
        <classes>
            <class name="Reg.change_of_Password" />
        </classes>
    </test>

</suite>